/*Afecta a toda la página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Títulos*/
h1 {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  color: rgb(208, 232, 255);
}

/*Pone un fondo detras del título con borde redondeado*/
#hborder {
  color: black;
  border: rgba(0, 0, 0, 0) solid 1px;
  border-radius: 100px;
  background-color: rgb(164, 226, 255);
  width: fit-content;
  position: relative;
  justify-self: center;
  padding: 0px 20px;
}

/*Cambia el color de los títulos h2*/
h2 {
  color: rgb(227, 247, 255);
}

/*Decora los títulos h3*/
h3 {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  color: rgb(165, 165, 210);
}

/*Texto en el cuerpo de la pagina*/
body {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  background:rgba(148, 216, 255, 0.733) url("kali.png") scroll no-repeat border-box;
  background-size: cover;
  color: aliceblue;
}


/*Encabezado de la pagina*/
header {
  background-color: rgba(37, 51, 102, 0.788);
  color: aliceblue;
  padding: 1rem;
  text-align: center;
}

/*Fuente para formularios*/
.formfont {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: rgb(208, 232, 255);
}

/*Reservado para el logo*/
.logo {
  position: absolute;
  left: 40px;
}

/*Le da un borde a las imagenes de clase .img1*/
.img1 {
  border: solid 2px rgb(143, 210, 255);
  border-radius: 10px;
  background-color: rgb(184, 222, 255);
}

/*Decoración para imagenes que estén dentro del texto*/
.img1text {
  border: solid 2px rgba(143, 210, 255, 0);
  border-radius: 10px;
  position: relative;
  vertical-align: middle;
  margin: 10px 0px;
}

/*Barra de navegación*/
.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
  padding: 0;
}


/*Elementos de la barra*/
.nav-bar li {
  display: inline;
}

/*Le da decoración a los botones de la barra de navegación*/
.nav-bar a {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(227, 245, 255);
  background-color: rgb(66, 78, 110);
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}


/*Animación al mover el mouse sobre los botones de la barra de navegación*/
.nav-bar a:hover {
  background-color:rgb(83, 98, 139);
  transform: scale(1.05);
}


/*Padding de los elementos principales de la página*/
main {
  padding: 2rem;
}


/*Secciones*/
section {
  margin-bottom: 2rem;
  background-color: rgba(109, 157, 196, 0.856);
  border-radius: 50px;
  padding: 2rem;
}

/*Le da una margen superior a los contenedores*/
.contenedor {
  margin-top: 1rem;
  padding: 5px;
}


/*Pie de la página*/
footer {
  background-color: rgb(37, 51, 102);
  color: rgb(220, 239, 255);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  padding-bottom: 100px;
  padding-top: 30px;
}

/*Alinea el texto de los títulos h1,2,3, o etc con la clase .hdiv. Es decir, que estan dentro de contenedores*/
.hdiv {
  justify-self: center;
  text-align: center;
}

/*Alinea el texto de los parrafos con la clase .pdiv. Es decir, que estan dentro de contenedores*/
.pdiv {
  text-align: center;
  margin-top: 1rem;
}

/*Añade un margen a la lista*/
.listmargin {
  margin-left: 2rem;
}

/*Decoración para formulario dentro del div*/
.formdiv {
justify-self: center;
}

/*Posiciona los elementos del formulario*/
.formelement {
  position: relative;
  right: 30%;
}

/*Posiciona los elementos del formulario*/
.formelement1 {
  position: relative;
  left: 30%;
  bottom: 28px;
}

/*Posiciona los elementos del formulario*/
.formelement2 {
  position: relative;
  bottom: 30px;
}

/*Para alinear elementos de forma vertical en el medio*/
.verticalalign {
  vertical-align: middle;
}

/*Añade un icono de confirmacion para el boton de enviar del formulario*/
.checkicon {
  vertical-align: middle;
  background-image: url("check-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;

}

/*Añade un icono de X para el boton de borrar del formulario*/
.reseticon {
  vertical-align: middle;
  background-image: url("reset.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
}

/*Decora un contenedor*/
#contenedor-deco {
  border: solid 2px rgb(83, 129, 255);
  border-radius: 10px;
  background-color: rgba(42, 13, 204, 0.493);
  padding: 10px;
  vertical-align: middle;
  justify-self: center;
  width: fit-content;
  padding: 20px 20px;
}

/*Afecta a los elementos de las tablas*/
th {
  padding: 10px;
  border: rgb(0, 94, 172) solid 1px;
  background-color: rgba(33, 15, 66, 0.664);
  margin: 0px;
  font-weight: bold;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

/*Afecta a las tablas*/
table {
  display: table;
  background-color: rgb(63, 94, 134);
  text-align: center;
  border: rgb(31, 103, 161) solid 2px;
  border-radius: 20px;
  padding: 15px;
  justify-self: center;
}

/*Afecta a los elementos de las tablas*/
td {
  padding: 10px;
  border: rgb(0, 94, 172) solid 1px;
  background-color: rgba(33, 15, 66, 0.664);
  margin: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

/*Redondea bordes*/
.round {
  border-radius: 10px;
}

.posdiv {
  position: relative;
  left: 300px;
}

.posdiv1 {
  position: relative;
  left: 500px;
}

.posdiv2 {
  position: relative;
  left: 700px;
}

.imgsize {
  width: 100px;
  padding: 10px;
  border: solid 2px rgb(16, 73, 110);
  background-color: rgb(199, 223, 255);
  border-radius: 30px;
}

.inline {
  display: inline;
}

.logo :hover {
  transform: scale(1.05);
}